<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- vue -->
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <!-- fontawsome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.2.4/gsap.min.js"></script>
  <!-- font -->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
  <!-- style -->
  <link rel="stylesheet" href="assets/style.css">
  <title>Document</title>
</head>
<body>
  
  <!-- app -->
  <div id="app" class="container">

    <!-- main -->
    <main>

      <!-- aside side-menu -->
      <aside class="side-menu f-left">
        
        <!-- header my contact -->
        <header>
          <div class="box-format">
            <div>
              <img src="assets/img/avatar_io.jpg" alt="">
            </div>
            <p>
            <span>Nome Utente</span>
              <span class="text-small">Ultimo accesso : {{ adesso() }}</span>
            </p>
          </div>
          <div>
            <i class="fas fa-circle-notch"></i>
            <i class="fas fa-comment-alt"></i>
            <i class="fas fa-ellipsis-v"></i>
          </div>
        </header>
        <!-- /header my contact -->

        <!-- notification box -->
        <div class="notifica box-format">
          <!-- <i class="fas fa-bell"></i> -->
          <div>
            <i class="fas fa-bell-slash"></i>
          </div>
          <p>
            <span>Ricevi notifiche di nuovi messaggi</span>
            <span class="text-small">Attiva notifiche desktop</span>
          </p>
        </div>
        <!-- /notification box -->

        <!-- section search&contacts -->
        <section>

          <div class="search">
            <button class="f-left"
              @click="searchUser"
            >
              <i class="fas fa-search"></i>
            </button>
            <label class="search-label" for="search"></label>
            <input  class="f-left" 
              type="text" 
              placeholder="Cerca o inizia una nuova chat"
              v-model.trim="strSearch"
              v-on:keyup="searchUser"
              >
          </div>

          <div class="contacts">

            <div class="box-format"
              v-for="(contact, index) in contacts"
              v-show ="contact.visible"
              @click="changeAvatar(index)"
              :class="avatarActive === index ? 'active' : null"
            ><!-- al posto di v-show="" si può usare anche v-if=""-->
              <div>
                <img :src="`assets/img/avatar${contact.avatar}.jpg`" :alt="contact.name">
              </div>
              <p>
                <span>{{contact.name}}</span>
                <span>{{ lastMess(index) }}</span>
              </p>
              <p class="date">{{ lastAccess(index) }}</p>
            </div>

          </div>

        </section>
        <!-- /section search&contacts -->

      </aside>
      <!-- /aside side-menu -->

      <!-- aside message -->
      <aside class="messages f-left">

        <header>
          <div class="box-format">
            <div>
              <img :src="`assets/img/avatar${contacts[avatarActive].avatar}.jpg`"
                :alt="contacts[avatarActive].name">
            </div>
            <p>
              <span>{{ contacts[avatarActive].name }}</span>
              <span class="text-small">Ultimo accesso : {{ lastAccess(avatarActive) }}</span>
            </p>
          </div>
          <div>
            <i class="fas fa-search"></i>
            <i class="fas fa-paperclip"></i>
            <i class="fas fa-ellipsis-v"></i>
          </div>
        </header>

        <!-- section visualizza messaggi -->
        <section>
          <!-- row con utilizzo del template così non vedo la parte di vue per rendere il codice più leggibile-->
          <template v-for="message in contacts[avatarActive].messages">
            <div class="box">
              <!-- small box with message -->
              <div :class="message.status === 'sent' ? 'sent' : 'recieved'">
                <p>{{ message.text }}</p>
                <div class="box-date">{{ message.date }}</div>
              </div>
            </div>
          </template>
        </section>
        <!-- /section visualizza messaggi -->

        <!-- footer inserisci messaggi -->
        <footer>
          <i class="far fa-smile"></i>
          <input type="text" 
            placeholder="Scrivi un messaggio" 
            @keyup.enter="pushText"
            v-model.trim="strText">
          <i class="fas fa-microphone"></i>
        </footer>
        <!-- /footer inserisci messaggi -->
        
      </aside>
      <!-- /aside message -->


    </main>
    <!-- /main -->

  </div>
  <!-- /app -->



  <!-- dayjs -->
  <script src="https://cdn.jsdelivr.net/npm/dayjs@1.10.4/dayjs.min.js"></script>
  <!-- dayjs in italiano -->
  <script src="https://cdn.jsdelivr.net/npm/dayjs@1.10.4/locale/it.js"></script>
  <!-- collegamento script -->
  <script src="assets/script.js"></script>
</body>
</html>