*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: linear-gradient(to bottom, #249688 0px, #249688 15vh, #DADBD4 15vh, #DADBD4 100vh);
}

.f-left{
  float: left;
}
.f-right{
  float: right;
}

.text-small{
  color: #71787A;
  font-size: 14px;
}

/* box format standard circle and text aside */
.box-format{
  display: flex;
  align-items: center;
}

.box-format div{
  display: inline-block;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  /* margin: 0 10px; */
  text-align: center;
  background-color: white;
  vertical-align: middle;
}

.box-format div img{
  width: 60px;
  border-radius: 50%;
}

.box-format div i{
  line-height: 60px;
  font-size: 25px;
  color: #8EDAFC;
}

.box-format p{
  display: inline-block;
  margin-left: 10px;
}

.box-format p span{
  display: block;
}

i{
  cursor: pointer;
}

input, button{
  border: none;
}

main{
  width: 80%;
  min-width: 900px;
  height: 95%;
  background-color: azure;
}

aside{
  height: 100%;
}

aside header, aside footer{
  height: 80px;
  background-color: #EAEAEA;
}

aside section{
  height: calc(100% - 160px);
}

aside header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  padding: 0 10px;
}

aside header i{
  color: #B1B1B1;
  margin-right: 10px;
}

aside.side-menu{
  width: 35%;
  background-color: #FAFAFA;
}

aside.side-menu div.notifica{
  height: 85px;
  background-color: #8EDAFC;
  padding: 0 20px;
}
aside.side-menu div.notifica span:last-child{
 text-decoration: underline;
}
aside.side-menu section{
  height: calc(100% - 165px);
  padding: 5px;
  background-color: #FAFAFA;
}

aside.side-menu section div.search{
  height: 30px;
  background-color: white;
  border: 1px solid #F5F5F5;
}

aside.side-menu section div.search button, aside.side-menu section div.search input{
  padding: 0 10px;
  line-height: 29px;
}

aside.side-menu section div.search button{
  width: 15%;
  color: #B7BABC;
  background-color: white;
}
aside.side-menu section div.search input{
  width: 85%;
  outline: none;
}

aside.side-menu div.contacts{
  height: calc(100% - 35px);
  margin-top: 5px;
  background-color: white;
  border-right: 1px solid #EBEBEB;
  border-bottom: 1px solid #EBEBEB;
}

aside.side-menu div.contacts .box-format{
  padding: 5px;
  border-bottom: 1px solid #F4F5F5;
}

aside.side-menu div.contacts .box-format:last-child{
  border: none;
}

aside.side-menu div.contacts .box-format.active{
  background-color: #F4F5F5;
}

aside.messages{
  width: 65%;
}

aside.messages header, aside.message footer{
  border-left: 1px solid #B1B1B1;
}

aside.messages section{
  padding: 4% 8%;
  background-image: url('img/mine.jpg');
}

aside.messages .box{
  min-height: 40px;
  margin-bottom: 15px;
}

aside.messages .box .sent, aside.messages .box .recieved{
  position: relative;
  min-height: 40px;
  min-width: 40%;
  max-width: 70%;
  border-radius: 10px;
  padding: 10px 15px 20px;
}

aside.messages .box .sent{
  background-color: #D5F9B9;
}
aside.messages .box .recieved{
  background-color: white;
}

aside.messages .box .box-date{
  position: absolute;
  bottom: 6px;
  right: 6px;
  color: #71787A;
  font-size: 10px;
}

aside.messages footer{
  padding: 10px 0;
  color: #6D7477;
}

aside.messages footer i{
  width: 9%;
  text-align: center;
  font-size: 25px;
}

aside.messages footer input{
  min-height: 60px;
  width: 80%;
  border-radius: 10px;
  padding: 10px 15px;
  font-size: 18px;
}